/* استایل برای جدول */
table {
    width: 100%;
    /* border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;*/
}

    /*table th, table td {
        padding: 12px 15px;
        border: 1px solid #ddd;
        word-wrap: break-word;*/ /* Allows text to wrap */
    /*}*/

    /*  table th {
        background-color: #f2f2f2;
        color: #333;
    }*/

    table tr:nth-child(even) {
        background-color: #f9f9f9;
    }

.edit-button {
    display: inline-flex; /* به حالت داخل‌خط و انعطاف‌پذیر تبدیل کنید */
    align-items: center; /* متن و آیکن را در مرکز قرار دهید */
    background-color: #007bff; /* رنگ پس‌زمینه دکمه */
    color: white; /* رنگ متن */
    padding: 10px 15px; /* فاصله داخلی */
    border: none; /* حذف حاشیه */
    border-radius: 5px; /* گوشه‌های گرد */
    text-decoration: none; /* حذف زیرخط */
    transition: background-color 0.3s; /* انیمیشن برای رنگ پس‌زمینه */
    margin-right: 3px; /* ایجاد فاصله 3 پیکسل به سمت راست */
    margin-left: 2px; /* ایجاد فاصله 3 پیکسل به سمت چپ */
}

    .edit-button:hover {
        background-color: #0056b3; /* رنگ پس‌زمینه در حالت هاور */
    }

/* Responsive design for mobile */
@media (max-width: 768px) {
    /*table {
        display: block;
        overflow-x: auto;*/ /* Enables horizontal scrolling */
    /*white-space: nowrap;*/ /* Prevents table cells from breaking */
    /*}*/

    table th, table td {
        padding: 10px;
    }

    /* For cards layout on mobile instead of the table */
    .product-card {
        display: flex;
        flex-direction: column;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin: 10px 0;
        padding: 10px;
        background-color: #f9f9f9;
    }

        .product-card div {
            margin-bottom: 5px;
        }

    .product-actions {
        display: flex;
        justify-content: flex-start;
        margin-top: 10px;
    }
}
