@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');


@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/Vazir-Thin.woff2") format("woff2"), url("/fonts/Vazir-Thin.woff") format("woff");
}

@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/Vazir-Light.woff2") format("woff2"), url("/fonts/Vazir-Light.woff") format("woff");
}

@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Vazir.woff2") format("woff2"), url("/fonts/Vazir.woff") format("woff");
}

@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 950;
    src: url("/fonts/Vazir-Bold.woff2") format("woff2"), url("/fonts/Vazir-Bold.woff") format("woff");
}

html, body {
    font-family: vazir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }




/* تنظیمات عمومی برای موبایل و تبلت */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 15px;
}

.navbar {
    background-color: #007bff;
    color: white;
}

.navbar-brand, .navbar-nav .nav-link {
    color: white;
}

    .navbar-brand:hover, .navbar-nav .nav-link:hover {
        color: #d4d4d4;
    }

.form-group {
    text-align: right;
}




body {
    background: linear-gradient(to right, #6a8bde, #c5d0eb); /* بک‌گراند گرادیان */
    color: #333; /* رنگ متن */
    margin: 0;
    padding: 0;
    direction: rtl; /* راست‌چین کردن متن */
    text-align: right; /* راست‌چین کردن متن */
}

.container {
    margin: 0 auto; /* مرکز کردن محتوا */
    padding: 12px; /* فاصله داخلی */
    background-color: #fff; /* رنگ پس‌زمینه محتوا */
    border-radius: 10px; /* گرد کردن گوشه‌ها */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* سایه */
}

h1, h2, h3, h4, h5, h6 {
    color: #f03d29; /* رنگ عناوین */
}

.form-group {
    margin-bottom: 1rem; /* فاصله بین فرم‌ها */
}

/*.btn-primary {
    margin-top: 1rem;*/ /* فاصله از دکمه */
/*}

.btn-secondary {
    margin-top: 1rem;
}
.btn-success {
    margin-top: 1rem;
}*/



.form-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.form-group {
    flex: 1 1 50%; /* Each form-group will take up 50% of the container */
    box-sizing: border-box;
    padding: 10px;
    font-size: 14px;
}


.modal-dialog {
    max-width: 98%; /* تنظیم عرض مودال به 80 درصد */
}



.modal-header {
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* بک‌گراند گرادیان */
    color: white; /* رنگ متن */
}

.close {
    color: white; /* رنگ دکمه بستن */
    opacity: 1; /* شفافیت دکمه بستن */
}

    .close:hover {
        color: #ff7e5f; /* رنگ دکمه بستن در حالت هاور */
        text-shadow: 0 0 10px #ff7e5f; /* سایه متن در حالت هاور */
    }




.modal-body {
    background-color: #f2f2f2; /* بک‌گراند بدنه مودال */
    padding: 20px; /* فاصله داخلی */
}

.form-group {
    margin-bottom: 10px; /* فاصله بین المان‌ها */
}

.form-control {
    border-radius: 5px; /* گرد کردن گوشه‌ها */
    border: 1px solid #ccc; /* رنگ حاشیه */
    padding: 5px; /* فاصله داخلی */
    width: 100%; /* عرض کامل */
    font-size: 14px;
}

    .form-control:focus {
        border-color: #ff7e5f; /* رنگ حاشیه در حالت فوکوس */
        box-shadow: 0 0 5px rgba(255, 126, 95, 0.5); /* سایه در حالت فوکوس */
    }


.btn-primary {
    background-color: #f0401d; /* رنگ پس‌زمینه دکمه */
    border-color: #ff7e5f; /* رنگ حاشیه دکمه */
    color: white; /* رنگ متن دکمه */
    /*padding: 10px 20px;*/ /* فاصله داخلی دکمه */
    border-radius: 5px; /* گرد کردن گوشه‌های دکمه */
}

    .btn-primary:hover {
        background-color: #f25824; /* رنگ پس‌زمینه دکمه در حالت هاور */
        border-color: #feb47b; /* رنگ حاشیه دکمه در حالت هاور */
    }


.search-bar {
    display: flex;
    align-items: center;
    background-color: #f8f9fa; /* بک‌گراند متمایز */
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .search-bar .form-group {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

        .search-bar .form-group input[type="checkbox"] {
            margin-left: 5px;
        }



table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 14px;
    direction: rtl; /* راست‌چین کردن متن */
    text-align: right; /* راست‌چین کردن متن */
}

thead {
    background-color: #141313; /* رنگ پس‌زمینه سر جدول */
    color: white; /* رنگ متن سر جدول */
}

    thead th {
        padding: 10px 10px;
        border: 1px solid #ddd; /* حاشیه سلول‌ها */
    }

tbody tr {
    border-bottom: 1px solid #ddd; /* حاشیه پایین ردیف‌ها */
}

    tbody tr:nth-of-type(even) {
        background-color: #f3f3f3; /* رنگ پس‌زمینه ردیف‌های زوج */
    }

    tbody tr:hover {
        background-color: #eaf0d8; /* رنگ پس‌زمینه ردیف‌ها در حالت هاور */
    }

tbody td {
    padding: 10px 10px;
    border: 1px solid #ddd; /* حاشیه سلول‌ها */
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 1rem;
}

.row {
    margin-bottom: 0.5rem;
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}

/* کلاس برای طراحی پاسخگو */
@media (max-width: 768px) {
    .form-control {
        width: 100%; /* عرض 100% در موبایل */
    }

    .container {
        padding: 8px;
    }

    .navbar {
        padding: 8px;
    }

    /*.form-group {
        flex: 1 1 100%;*/ /* On mobile devices, each form-group will take up 100% of the container */
    /*}*/


}
